<div class="row" style="margin-bottom: 70px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>All Pots</h1>
       
    </div>
    <div class="col-md-2"></div>
</div>


<!-- 1st row -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://i.pinimg.com/564x/d9/c6/0c/d9c60c968442622bdea790126d474886.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Dipped Pot</h5>
                <p class="card-text" style="padding-top:30px;">From  Rs.1400/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://res.cloudinary.com/patch-gardens/image/upload/w_995,dpr_2,c_fill,q_auto,g_auto/v1621333343/cms/Online%20magazine/Hilton%20Carter%E2%80%99s%20plant%20styling%20tips/3-2_Pay_just_as_much_attention_to_your_pots-min.jpg" class="card-img-top" alt="" height="250px">
            <div class="card-body">
                <h5 class="card-title">Fractured Pot</h5>
                 
                <p class="card-text" style="padding-top:140px;">From  Rs.1600/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://www.woodsidegardencentre.co.uk/uploader/pictures/aqupot2.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Ceramic Glazed Pots</h5>
                 
                <p class="card-text" style="padding-top:30px;">From  Rs.500/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>



<!-- 2nd row -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.squarespace-cdn.com/content/v1/5a5bce8bf43b5535970bc848/1625524499267-MY530NCIYBPPIGQG3CZI/Pure+Cone+-+Gallery.png?format=1000w" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Elho straight edged pot</h5>
                  
                <p class="card-text" style="padding-top:180px;">From  Rs.800/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.squarespace-cdn.com/content/v1/5a5bce8bf43b5535970bc848/1625524022916-QQGZ4GGDUTUG6TS9CBF4/Pure+Bead+-+Gallery.png?format=1000w" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Elho curved edged pot</h5>
                 
                <p class="card-text" style="padding-top:180px;">From  Rs.600/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.unsplash.com/photo-1524274518417-e7b3f1879339?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" height="500px" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Clay Pot</h5>
                 
                <p class="card-text" style="padding-top:10px;">From  Rs.500/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>


<!-- row 3 -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://cdn.shopify.com/s/files/1/2409/2711/products/artisan-minimalist-geometric-cement-concrete-terracotta-brown-plant-pot-flower-vase-indoor-outdoor-6_1080x.jpg?v=1633675858" class="card-img-top" alt="">
            <div class="card-body green-back">
                <h5 class="card-title">Standstone cylinder pot</h5>
                  
                <p class="card-text" style="padding-top:30px;">From  Rs.3500/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://ak1.ostkcdn.com/images/products/is/images/direct/03773c6ede863c213ee59b1320c0009a2744797e/Grey-Tall-Square-MgO-Planters-%28Set-of-2%29.jpg" class="card-img-top" alt="">
            <div class="card-body green-back">
                <h5 class="card-title">Fiberstone cube pot</h5>
                 
                <p class="card-text" style="padding-top:30px;">From  Rs.4000/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://cdn.shopify.com/s/files/1/0675/0470/1727/products/0463613936000__3_df42638a-7f71-47f6-adad-caf78a0ee23f_1728x.webp?v=1675599380" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Elho plastic reservior pot</h5>
                 
                <p class="card-text" style="padding-top:30px;">From  Rs.1400/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>




<!-- row 4 -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="http://t2.gstatic.com/images?q=tbn:ANd9GcQtb7VgN-PKM8n0PmQn60a-oBos0blp4pyUJUdaXqebEI1z24kH" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Concrete ride pot</h5>
                  
                <p class="card-text" style="padding-top:30px;">From  Rs.5200/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://cdn.shopify.com/s/files/1/0615/6473/products/OnTheSidePots_12NOV1920829_1024x1024.jpg?v=1632539233" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Fiberstone cylinder pot</h5>
                 
                <p class="card-text" style="padding-top:30px;">From  Rs.2500/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://craftbuds.com/wp-content/uploads/2022/04/Air-Dry-Clay-Ideas-1.jpeg.webp" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Clay hanging pot</h5>
                 
                <p class="card-text" style="padding-top:30px;">From  Rs.2000/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>




<!-- row 5 -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/81V6gyFPI2L._AC_SL1500_.jpg" class="card-img-top" alt="">
            <div class="card-body green-back">
                <h5 class="card-title">Wooden plant stand</h5>
                  
                <p class="card-text" style="padding-top:30px;">From  Rs.2800/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcTpARvXRUYCNjYP44GS3og4Tq9kJ5MzriK7uZjuwVpGYrCc5hAJ" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Rope Basket</h5>
                 
                <p class="card-text" style="padding-top:30px;">From  Rs.600/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://cdn.shopify.com/s/files/1/0572/2646/1384/products/IMG_8275_1080x_81f71cd1-c95b-4180-808d-0d0d3ddca7d6_1080x.webp?v=1652769378" class="card-img-top" alt="">
            <div class="card-body green-back ">
                <h5 class="card-title">Loft pot</h5>
                 
                <p class="card-text" style="padding-top:30px;">From  Rs.4800/-</p>
                <a href="" class="btn btn-light">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>









<div class="row top-margin">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <h3><b>HELP</b></h3>
        <p class="mb-1">Need to get in touch?</p>
        <p class="mb-1">Just use help widget to send a message to the team</p>
        <p class="mb-1">Customer service opening hours:</p>
        <p class="mb-1">Tuesday to Saturday 10am-8pm</p>
        <p class="mb-1" style="color: rgb(69, 131, 26);"> Call us at: +91 9876543210</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <h3><b>SECURITY</b></h3>
        <p>Secure payment - out systems are protected with bank-grade security. Your payment is safe with us.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <h3><b>QUALITY</b></h3>
        <p>We work directly with over 40 specialist growers to bring you the best quality plats</p>
    </div>
    <div class="col-md-1"></div>
</div>