small{
    font-size: 11px;
}
 .green-back{
    background-color:rgb(69, 131, 26); 
    color: white;
 }

 .top-margin{
    margin-top: 180px;
 }
 .card:hover {
   /* zoom in by increasing the scale */
   transform: scale(1.05);
 }
