<div class="row" style="margin-bottom: 70px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>All Plants</h1>
       
    </div>
    <div class="col-md-2"></div>
</div>


<!-- 1st row -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.squarespace-cdn.com/content/v1/575d373f3c44d8083196df60/1616163821771-XV9DBR2OY4RL34IOA1BO/Screenshot%2B2021-03-19%2Bat%2B14.22.41.jpg?format=1500w" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Chaz</h5>
                <p><small> CHEESE PLANT</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.1200/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://cdn.shopify.com/s/files/1/0524/0504/3357/products/Refill_BusyLizzie_7c288005-8035-4f10-9b04-9c6617919193_720x.jpg?v=1612590491" class="card-img-top" alt="">
            <div class="card-body" style="background-color:rgb(69, 131, 26); color: white;">
                <h5 class="card-title">Lizzie</h5>
                <p><small>30-40 CM</small></p>
                <p class="card-text" style="padding-top:100px;">From  Rs.4600/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.squarespace-cdn.com/content/v1/54fbb611e4b0d7c1e151d22a/1610074066643-OP8HDJUWUH8T5MHN879K/Snake+Plant.jpg?format=2500w" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Susie</h5>
                <p><small>SNAKE PLANT</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.750/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>



<!-- 2nd row -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://images.unsplash.com/photo-1599476505006-b481e84020d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" class="card-img-top" alt="">
            <div class="card-body green-back">
                <h5 class="card-title">Penny</h5>
                <p><small> CHINESE MONEY PLANT</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.4600/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://cdn.webshopapp.com/shops/59449/files/423210798/image.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Big Ken</h5>
                <p><small>KENTIA PALM</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.4600/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://www.plants.com/images/157654MDS_20220221-1645468126653.webp" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Pippa</h5>
                <p><small>PEACE LILY</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.750/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>


<!-- row 3 -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://cdn.shopify.com/s/files/1/0550/4771/6948/products/4ff9cd08dd2fa540dec67c061d5773c7.jpg?v=1669956198&width=1946" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Jane</h5>
                <p><small> MARANTA LEUCONEURA</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.1350/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img [src]="imageSource"  class="card-img-top" alt="">
            <div class="card-body green-back">
                <h5 class="card-title">E-gift card</h5>
                <p><small>PLANT GARDIM</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.1500/-</p>
                <button class="btn btn-light">See Info</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1665488072/ejci9y5pzj98ifabl3in.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Rapunzel</h5>
                <p><small>DEVIL'S IVY</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.1125/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>




<!-- row 4 -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://www.fnp.com/images/pr/singapore/l/v20211004184440/bonsai-plant-in-green-pot_1.jpg" class="card-img-top" alt="">
            <div class="card-body green-back">
                <h5 class="card-title">Ginny</h5>
                <p><small> FISCUS GINSENG</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.4600/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://cdn.shopify.com/s/files/1/1060/3816/products/Fresh-Green-Delight_900x.jpg?v=1623904915" class="card-img-top" alt="">
            <div class="card-body green-back">
                <h5 class="card-title">Chrissy</h5>
                <p><small>CROTON</small></p>
                <p class="card-text" style="padding-top:35px;">From  Rs.4600/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1646847142/ncavxdvve0kw5iejquzm.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Ziggy</h5>
                <!-- <p><small>SNAKE PLANT</small></p> -->
                <p class="card-text" style="padding-top:70px;">From  Rs.1800/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>




<!-- row 5 -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1653930492/k0t2ekmaafih9axdsolh.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Zhey</h5>
                <p><small> SNAKE PLANT (20-100cm)</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.7500/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fit,w_730,h_548/at%2Fhome-projects%2F2019-08%2Fparlor_palm" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Sharon</h5>
                <p><small>PARLOUR PALM</small></p>
                <p class="card-text" style="padding-top:115px;">From  Rs.975/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://i.pinimg.com/564x/5d/7a/07/5d7a0741360de4a3173be9cc271d229e.jpg" class="card-img-top" alt="">
            <div class="card-body green-back">
                <h5 class="card-title">Felicity</h5>
                <p><small>ANTHURIUM - PINK</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.4500/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>


<!-- row 6 -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://i.pinimg.com/564x/2e/e3/99/2ee399f746cdc540d150ec2c76bf179e.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Rick</h5>
                <p><small> CORN PLANT</small></p>
                <p class="card-text" style="padding-top:10px;">From  Rs.675/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://balconygardenweb.b-cdn.net/wp-content/uploads/2018/09/Kumquat.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Mini Citrus Trio</h5>
                <p><small></small></p>
                <p class="card-text" style="padding-top:55px;">From  Rs.4500/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://www.flowerpower.com.au/media/catalog/product/cache/bdcf0022850627d2b6422c66929c11b7/1/8/184114_001.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Fidel</h5>
                <p><small>FIDDLE-LEAF FIG</small></p>
                <p class="card-text" style="padding-top:95px;">From  Rs.900/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>




<!-- row 7 -->
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://s7d1.scene7.com/is/image/terrain/58122755_000_a?$zoom2$" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Bertie</h5>
                <p><small>BOSTON FERN</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.450/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://i.etsystatic.com/22629375/r/il/088c74/2747074977/il_1588xN.2747074977_5mmj.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Howard</h5>
                <p><small>ASPIDISTRA</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.1875/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1613140062/wrnlhmyujawswnvmcebc.jpg" class="card-img-top" alt="">
            <div class="card-body green-back">
                <h5 class="card-title">Easy Care Set</h5>
                <!-- <p><small>SNAKE PLANT</small></p> -->
                <p class="card-text" style="padding-top:70px;">From  Rs.4500/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>




<!-- row 8 -->

<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://asset.bloomnation.com/c_limit,d_vendor:global:catalog:product:image.png,f_auto,fl_preserve_transparency,q_auto,w_1005/v1605449216/vendor/3769/catalog/product/2/0/20200801111847_file_5f25f85791a07_5f25f8a3e7cde.jpg" class="card-img-top" alt="">
            <div class="card-body green-back">
                <h5 class="card-title">Nicolau</h5>
                <p><small>STRELITZIA NICOLAI</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.4500/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://www.plants.com/images/157648LDR_20220223-1645654922657.webp" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Cassie</h5>
                <p><small>ZAMIOCULCAS ZAMIIFOLIA</small></p>
                <p class="card-text" style="padding-top:30px;">From  Rs.750/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="https://gpnmag.com/wp-content/uploads/2020/05/Leopardo_Dark-Salmon-Pink_HR-Schoneveld.jpg" class="card-img-top" alt="">
            <div class="card-body green-back">
                <h5 class="card-title">Vinnie</h5>
                <p><small>CYCLAMEN - RED</small></p>
                <p class="card-text" style="padding-top:90px;">From  Rs.600/-</p>
                <button class="btn btn-light">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>






<div class="row top-margin">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <h3><b>HELP</b></h3>
        <p class="mb-1">Need to get in touch?</p>
        <p class="mb-1">Just use help widget to send a message to the team</p>
        <p class="mb-1">Customer service opening hours:</p>
        <p class="mb-1">Tuesday to Saturday 10am-8pm</p>
        <p class="mb-1" style="color: rgb(69, 131, 26);"> Call us at: +91 9876543210</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <h3><b>SECURITY</b></h3>
        <p>Secure payment - out systems are protected with bank-grade security. Your payment is safe with us.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <h3><b>QUALITY</b></h3>
        <p>We work directly with over 40 specialist growers to bring you the best quality plats</p>
    </div>
    <div class="col-md-1"></div>
</div>







