<div class="row no-gutters">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plant-guide-office-plants-1663799307.jpg" class="img-fluid">
    </div>
    <div class="col-md-5 home-txt d-flex justify-content-center align-items-center flex-column">
        <h1 class="para1">Plants made easy</h1>
        <p class="para1">Patch assists you in choosing the right plants for your area, delivers them to your door and provides care instructions.</p><br>
        <button class="btn btn-light home-btn" data-bs-toggle="button" routerLink="/Plants">Indoor Plants</button><br>
        <button class="btn btn-light home-btn" data-bs-toggle="button">Gift Vouchers</button>
    </div>
    <div class="col-md-1"></div>
</div>

<h1 align="center" class="top-margin">Why Plants <br> Gardim?</h1>

<div class="row top-margin">
    <div class="col-md-1"></div>
    <div class="col-md-3" align="center">
        <p>Superior quality to supply the highest caliber plants at the most competitive costs, we directly source from the greatest growers.</p>
    </div>
    <div class="col-md-4" align="center">
        <p>Shipping to your door, we will deliver your plants right to your door. Tell us within 30 days if you're not satisfied, and we'll make it right.</p>
    </div>
    <div class="col-md-3" align="center">
        <p>The assistance you require. A free course on plant parenting will be sent to you, and our plant physicians are always available.</p>
    </div>
    <div class="col-md-1"></div>
</div>


<div class="row no-gutters top-margin">
    <div class="col-md-1"></div>
    <div class="col-md-5 home-txt d-flex justify-content-center align-items-center flex-column">
        <h1 class="para2">Plants used for decorating your house</h1>
        <p class="para2">As the nights grow longer, use plants to create a peaceful atmosphere in your bedroom. Rapunzel the golden pothos and other hanging plants 
            give interest at various heights and don't mind a little shadow. Both Pippa the peace lily and Susie the snake plant have remarkable structures and release oxygen at night, making them both useful and attractive.
        </p>
        <p class="para2">Fill up vacant spaces with a tall, thin plant, such as Silvy the satin pothos on a mosspole or Phil the philodendron scandens.
            Maximum effect with minimal floorspace.
        </p>
        <p class="para2">
            Don't forget to bring your pots. Matching neutral pots will appear clean and beautiful, whilst a combination of designs and patterns will appear diverse and exciting.
        </p>
        
    </div>
    <div class="col-md-5">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bloomscape-new-decor-group-shot-vertical-scaled-1668565407.jpg" class="img-fluid">
    </div>
    <div class="col-md-1"></div>
</div>


<div class="row d-flex align-items-stretch top-margin">
    <div class="col-md-1"></div>
    
        <div class="col-md-3"  style="background-color: rgb(217,217,217) !important;">
            <div class="card mb-3">
                <img src="https://botaniclush.com/wp-content/uploads/2019/12/kentia-palm-23bee1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Big Ken</h5>
                    <p class="card-text">Rs. 800/-</p>
                    <button class="btn btn-light">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="background-color: rgb(217,217,217) !important;">
            <div class="card mb-3">
                <img src="https://www.vincentsheppard.com/files/attachments/.1726/w520h650zcZCq85_vincentsheppard_portrait_rattanrevival_viviplantstands_800x1000.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Vivi</h5>
                    <p class="card-text">Rs. 1500/-</p>
                    <button class="btn btn-light">Add to Cart</button>
                </div>
            </div>
        </div>
   
    <div class="col-md-4 home-txt d-flex justify-content-center align-items-center flex-column" style="background-color: rgb(217,217,217) !important;">
        <h2 class="para1" style="color: black;">Plant Gardim's Top Sales</h2>
        <p class="para2" style="color: black;">Explore and purchase out most popular plants, pots and accessories.</p>
    </div>
    <div class="col-md-1"></div>
</div>


<div class="row no-gutters top-margin">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <img src="https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1563876772/products/snake-plant-dda326.jpg" class="img-fluid">
    </div>
    <div class="col-md-5 home-txt d-flex justify-content-center align-items-center flex-column">
        <h1 class="para1">(Almost) unkillable plants</h1>
        <p class="para2">We understand what it's like to be guilty of plant murder, so we've compiled a list of low-maintenance plants that will forgive you for the occasional missed watering.</p><br>
        <button class="btn btn-light home-btn" data-bs-toggle="button" routerLink="/Plants">Shop the collection</button><br>
    </div>
    <div class="col-md-1"></div>
</div>


<div class="row top-margin">
    <div class="col-md-1"></div>
    <div class="col-md-3" style="background-color: rgb(250,250,250) !important;">
        <h4>More about Patch Services</h4>
    </div>
    <div class="col-md-3" style="background-color: rgb(250,250,250) !important;">
        <h5>Plant Care</h5>
        <p routerLink="/Plants">Air-purifying indoor plants</p>
        <p routerLink="/Plants">10 best unkillable indoor plants</p>
        <p routerLink="/Plants">Shade loving indoor plants</p>
    </div>
    <div class="col-md-2" style="background-color: rgb(250,250,250) !important;">
        <h5 routerLink="/Plants">Indoor and outdoor plants</h5>
        <p>Outdoor plants</p>
        <p>Best outdoor plants</p>
        <p>Rewild articles</p>
    </div>
    <div class="col-md-2" style="background-color: rgb(250,250,250) !important;">
        <h5>Popular plants</h5>
        <p>Susie - Sanke Plant</p>
        <p>Rapunzel - Devil's Ivy</p>
        <p>Fidel - Filldle-Leaf Fig</p>
    </div>
    <div class="col-md-1"></div>
</div>


<div class="row top-margin">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <h3><b>HELP</b></h3>
        <p class="mb-1">Need to get in touch?</p>
        <p class="mb-1">Just use help widget to send a message to the team</p>
        <p class="mb-1">Customer service opening hours:</p>
        <p class="mb-1">Tuesday to Saturday 10am-8pm</p>
        <p class="mb-1" style="color: rgb(69, 131, 26);"> Call us at: +91 9876543210</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <h3><b>SECURITY</b></h3>
        <p>Secure payment - out systems are protected with bank-grade security. Your payment is safe with us.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <h3><b>QUALITY</b></h3>
        <p>We work directly with over 40 specialist growers to bring you the best quality plats</p>
    </div>
    <div class="col-md-1"></div>
</div>
